<% if @user.errors.any? %>
<%= @user.errors.count %>error prohibited this obj from being saved:
<ul>
  <% @user.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-sm-0 mx-auto">
      <h1>User info</h1>
      <%= form_with model: @user do |f| %>

      <div class="form_group">
        <p>Name</p>
        <%= f.text_field :name %>
      </div>

      <div class="form_group">
        <p>Image</p>
        <%= f.file_field :profile_image, accept: "image/*"%>
      </div>

      <div class="form_group">
        <p>Introduction</p>
        <%= f.text_area :introduction %>
      </div>

      <div class="form_group">
        <%= f.submit "Update User", class: "btn btn-secondary" %>
      </div>
      <% end %>


    </div>
  </div>


</div>