<div class="container">
  <div class="row">

    <%= render 'users/user_info',user: @user, book: @book_new %>

    <div class="col-md-8 offset-md-1 mt-3 px-5 mx-auto">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user) do %>
              <%= image_tag @book.user.get_profile_image(100,100) %>
              <% end %>
              <br>
              <%= link_to user_path(@book.user) do %>
              <%= @book.user.name %>
              <% end %>
            </td>

            <td>
              <%= link_to book_path(@book) do %>
              <%= @book.title %>
              <% end %>
            </td>

            <td><%= @book.body %></td>

            <td>
              <% if @book.user == current_user %>
              <%= link_to edit_book_path(@book) do %>
              <button class="btn btn-success btn-sm">
                Edit
              </button>
              <% end %>
              <% end %>
            </td>

            <td>
              <% if @book.user == current_user %>
              <%= link_to book_path(@book), method: :delete,"data-confirm" => "本当に消しますか？" do %>
              <button class="btn btn-danger btn-sm">
                Destroy
              </button>
              <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>